<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <div th:replace="~{layouts/base::head}"></div>
    <script defer src="/js/destroyed-products-history.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div th:replace="~{components/sidebar::sidebar}"></div>
      <div id="content-wrapper" class="d-flex flex-column">
        <main id="content">
          <div th:replace="~{components/header::header}"></div>
          <div class="container-fluid">
            <!-- PAGE CONTENT START HERE -->

            <div class="row">
              <div class="col-6">
                <h1>[[${pageTitle}]]</h1>
                <p>Current stock: Stock <b>[[${currentUser.stock.name}]]</b></p>
              </div>
              <div class="col-6 m-auto text-right">
                <a href="/products/expired" class="btn btn-primary">Back to Expired Products</a>
              </div>
            </div>

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>#</th>
                  <th class="searchable">Product Name</th>
                  <th>Expiry Date</th>
                  <th class="searchable">Stock</th>
                  <th>Quantity</th>
                  <th class="searchable">Destroyed By</th>
                  <th>Destroyed Timestamp</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="history,iter : ${historyList}">
                  <td th:text="${iter.index + 1}"></td>
                  <td th:text="${history.productInfo.name}"></td>
                  <td th:text="${history.expiredDate}"></td>
                  <td th:text="${history.stock.name}"></td>
                  <td th:text="${history.quantity}"></td>
                  <td>
                    <a
                      th:href="@{/profile/{id}(id=${history.user.id})}"
                      th:text="${history.user.fullName}"
                    >
                    </a>
                  </td>
                  <td
                    th:text="${#temporals.format(history.deletedTimestamp, 'yyyy-MM-dd HH:mm:ss')}"
                  ></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th data-col-name="product name"></th>
                  <th>
                    <span
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Filter by date range"
                    >
                      <button
                        class="btn btn-primary w-100"
                        data-toggle="modal"
                        data-target="#filter-date-range-modal-expiry-date"
                      >
                        <i class="bi bi-calendar mr-2"></i>
                        Filter
                      </button>
                    </span>
                  </th>
                  <th data-col-name="stock"></th>
                  <th></th>
                  <th data-col-name="destroyed by"></th>
                  <th>
                    <span
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title="Filter by date range"
                    >
                      <button
                        class="btn btn-primary w-100"
                        data-toggle="modal"
                        data-target="#filter-date-range-modal-destroyed-timestamp"
                      >
                        <i class="bi bi-calendar mr-2"></i>
                        Filter
                      </button>
                    </span>
                  </th>
                </tr>
              </tfoot>
            </table>
            <!-- PAGE CONTENT END HERE -->
          </div>
        </main>
      </div>
    </div>

    <div
      class="modal fade"
      id="filter-date-range-modal-expiry-date"
      tabindex="-1"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <form class="modal-content" id="filter-date-range-form-expiry-date" novalidate>
          <div class="modal-header">
            <h4 class="modal-title">Filter by date range</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body row my-n2 align-items-center justify-content-between">
            <div class="col-12" id="date-range-invalid-alert-expiry-date" style="display: none">
              <div class="alert alert-danger" role="alert">
                <i class="fa-solid fa-circle-exclamation"></i>
                Invalid date range.
              </div>
            </div>
            <div class="col-12 py-2">Select a date range:</div>
            <div class="col-5 py-2">
              <span>From:</span>
              <input type="date" class="form-control" id="from-date-expiry-date" />
            </div>
            <div class="col-2 py-2 text-center">
              <i class="bi bi-arrow-right h3"></i>
            </div>
            <div class="col-5 py-2">
              <span>To:</span>
              <input type="date" class="form-control" id="to-date-expiry-date" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Apply</button>
          </div>
        </form>
      </div>
    </div>

    <div
      class="modal fade"
      id="filter-date-range-modal-destroyed-timestamp"
      tabindex="-1"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <form class="modal-content" id="filter-date-range-form-destroyed-timestamp" novalidate>
          <div class="modal-header">
            <h4 class="modal-title">Filter by date range</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body row my-n2 align-items-center justify-content-between">
            <div
              class="col-12"
              id="date-range-invalid-alert-destroyed-timestamp"
              style="display: none"
            >
              <div class="alert alert-danger" role="alert">
                <i class="fa-solid fa-circle-exclamation"></i>
                Invalid date range.
              </div>
            </div>
            <div class="col-12 py-2">Select a date range:</div>
            <div class="col-5 py-2">
              <span>From:</span>
              <input type="date" class="form-control" id="from-date-destroyed-timestamp" />
            </div>
            <div class="col-2 py-2 text-center">
              <i class="bi bi-arrow-right h3"></i>
            </div>
            <div class="col-5 py-2">
              <span>To:</span>
              <input type="date" class="form-control" id="to-date-destroyed-timestamp" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Apply</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
